.collections-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4px;
}
.collections-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.collections-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 8px; 
}

.collections-images {
  display: flex;
  gap: 4px; 
  justify-content: space-between; 
}

.collections-title {
  font-family: sans-serif;
  font-size: 20px; 
  font-weight: bold;
  color: #000000;
  margin-bottom: 4px;
}

.see-more-button {
  font-family: sans-serif;
  font-size: 16px; 
  font-weight: normal;
  color: #7c7c7c;
  background: none;
  border: none;
  cursor: pointer;
}

@media(min-width: 1024px){
.collections-container {
  flex-direction: row;
  justify-content: space-between;
  gap: 14%; 
  margin: 80px 5%; 
}

.collections-section {
  width: 40%; 
}

.collections-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 100px; 
}

.collections-title {
  font-family: sans-serif;
  font-size: 40px; 
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.collections-images {
  display: flex;
  gap: 48px; 
  justify-content: space-between; 
}

.see-more-button {
  font-size: 30px; 
}
}