.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #1c1c1c;
  border-radius: 16px;
  padding: 20px;
  width: 500px;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
  z-index: 1010; /* Ensure it stays above the overlay */
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-picture-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
}

.profile-picture-buttons {
  display: flex;
  gap: 10px;
}

.change-button {
  background-color: #84607d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.profile-details label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #ccc;
}

.profile-details input {
  width: 100%;
  padding: 8px;
  border: 1px solid #555;
  border-radius: 8px;
  background-color: #2c2c2c;
  color: white;
}

.save-button {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}
