.arrow-icon-container {
  position: absolute !important;
  top: 5px !important;
  left: 20px !important;
  z-index: 10 !important;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.arrow-icon {
  width: 24px;
  height: 24px;
  display: block;
}

@media (max-width: 768px) {
  .arrow-icon-container {
    top: 15px; 
    left: 15px;
  }

  .header-mobile-capsule .arrow-icon-container {
    display: none;
  }
}
