.capsule-card-image-container {
  width: 140px;
  height: 140px;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}
.capsule-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.capsule-card-image-container.tilted {
  width: 120px;
  height: 120px;
}

.capsule-card-image-container.tilted:nth-child(1) .capsule-card-image {
  transform: rotate(-15deg);
}

.capsule-card-image-container.tilted:nth-child(2) .capsule-card-image {
  transform: rotate(0deg);
}

.capsule-card-image-container.tilted:nth-child(3) .capsule-card-image {
  transform: rotate(15deg);
}

.capsule-card-image,
.capsule-card-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.capsule-card-image-container.blurred .capsule-card-image,
.capsule-card-image-container.blurred .capsule-card-video {
  filter: blur(10px);
  opacity: 0.7;
  pointer-events: none;
}

.capsule-card-image-container:not(.blurred) .capsule-card-video {
  pointer-events: auto;
}
