.countdown-container {
  background-color:  #88677b;
  border-radius: 50px;
  width: 100%;
  min-height: 80px;
  display: flex;
  flex-direction: column;
}

p, h1{
  color: white;
  margin: 0;
  padding: 8px;
  padding-left: 24px;
}