.create-capsule-button {
  width: 50%; 
  height: 60px;
  background: #e39de4;
  border: none;
  color: #000000; 
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px; 
  cursor: pointer;
  margin-top: 20px;
}

.create-capsule-button:hover {
  opacity: 0.9; 
}

.create-capsule-button-container {
  display: flex;
  justify-content: flex-end; 
  width: 100%; 
}
