.fab {
  position: fixed;
  bottom: 60px;
  right: 40px;
  width: 100px;
  height: 100px;
  background-color: #84607d;
  border: 3px solid #5a3e57; 
  border-radius: 50%;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.fab:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);
}

.fab-icon {
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  line-height: 1;
}

@media (max-width: 667px) {
  .fab {
    left: 50%;
    right: auto; 
    transform: translateX(-50%); 
    width: 150px; 
    height: 150px;
    bottom: 65px;
    z-index: 10;
  }

  .fab-icon {
    font-size: 100px; 
    font-family: 'Courier New', Courier, monospace;
  }
  @media (max-width: 420px) {
    .fab {
      left: 50%;
      right: auto; 
      transform: translateX(-50%); 
      width: 100px; 
      height: 100px;
      bottom:50px;
      z-index: 10;
    }
  
    .fab-icon {
      font-size: 100px; 
      font-family: 'Courier New', Courier, monospace;
    }
}
}