.login-button {
    width: 90%;
    height: 60px;
    background: #e39de4;
    border: none;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
} 